<%- include("../partials/head.ejs") %>

<h1>Create a new soda</h1>
<form action="/soda" method="post">
    <input type="text" name="name" placeholder="Enter soda name">
    <input type="text" name="color" placeholder="Enter soda color">
    <input type="checkbox" name="readyToEat">
    <input type="submit" value="Create Soda">
</form>